{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-0 pt-0">
  <div class="card col-md-12 col-sm-12 ml-auto mr-auto  mt-1 mb-0">
    <div class="card-body">
      <div class="text-right">
        <a class="btn btn-primary mb-5" href="{% url 'add_task' %}">Add Tasks</a>
      </div>
      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
        <thead class="text-center">
          <th>sl &nbsp &nbsp</th>
          <th>Task</th>
          <th>Description</th>
          <th>Assigned To</th>
          <th>Created By</th>
          <th>Status</th>
          <th class="text-right">Action &nbsp &nbsp &nbsp</th>
        </thead>
        <tbody class="text-center">
          {% for each in task_list %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{each.task}}</td>
            <td>{{each.description|slice:":25" }}..</td>
            <td>{{each.task_for_user}}</td>
            <td>{{each.created_by}}</td>
            <td>
              <span class="badge badge-{{each.get_status_colour}}">{{each.get_status_display}}</span>
              {% if each.is_due and each.status != '2' %}<span class="badge badge-danger">DUE</span>{% endif %}
            </td>
            <td class="text-right">
              <a href="{% url 'view_task' each.id %}"><span class="badge badge-primary">view Details</span></a>
              {% if each.task_for_user == request.user %}
              <a href="{% url 'update_status_task' each.id %}"><span class="badge badge-info">update status</span></a>
              {% endif %}
              <a class="btn btn-link btn-warning btn-just-icon edit" href="{% url 'edit_task' each.id %}"><i class="material-icons">edit</i></a>
              <a class="btn btn-link btn-danger btn-just-icon close" href="#" onclick="throw_warning('Are you sure, you want to delete this role?', action_link='{% url 'delete_task' each.id %}')"><i class="material-icons">close</i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class="text-center">
          <th>sl &nbsp &nbsp</th>
          <th>Task</th>
          <th>Assigned To</th>
          <th>Created By</th>
          <th>Status</th>
          <th class="text-right">Action &nbsp &nbsp &nbsp</th>
        </tfoot>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    });
  });
</script>
{% endblock %}
