{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row mt-0 pt-0">
  <div class="card col-md-12 col-sm-12 ml-auto mr-auto  mt-1 mb-0">
    <div class="card-body">
      <div class="text-right">
        <a class="btn btn-primary mb-5" href="{% url 'add_new_user' %}">Add New User</a>
      </div>
      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
        <thead class="text-center">
          <th>sl &nbsp &nbsp</th>
          <th>Name</th>
          <th>Roles</th>
          <th class="text-right">Action  &nbsp &nbsp &nbsp</th>
        </thead>
        <tbody class="text-center">
          {% for each in user_list %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{each.first_name| title}} {{each.last_name| title}}</td>
            <td>
                {% for role in each.get_all_roles %}
                  {{ role }},
                {% endfor %}          
            </td>
            <td class="text-right">
              <a href="{% url 'view_profile' each.user.id %}"><span class="badge badge-primary">view Profile</span></a>
              <a class="btn btn-link btn-warning btn-just-icon edit" href="{% url 'edit_user_details' each.user.id %}"><i class="material-icons">edit</i></a>
            </td>
          </tr>
          
          {% endfor %}
        </tbody>
        <tfoot class="text-center">
          <th>sl</th>
          <th>Name</th>
          <th>Roles</th>
          <th class="text-right">Action</th>
        </tfoot>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "All"]
      ],
      responsive: true,
      language: {
        search: "_INPUT_",
        searchPlaceholder: "Search records",
      }
    });
  });
</script>
{% endblock %}
